/* important links */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');

/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Work Sans, sans-serif;
    max-width: 1366px;
    margin: 0 auto;
}
a{
    transition: 0.5s;
}
a:hover{
    cursor: pointer;
}

.color1{
    color: #FF42A5;
}

.btn-primary{
    color: #000;
    background: #FF42A5;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
.btn-primary:hover{
    color: #000;
    background: #ccc;
    cursor: pointer;
}

/* navbar section styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}
nav #logo-div-id{
    display: flex;
    align-items: center;
}
nav #logo-div-id img{
    width: 70px;
    height: 30px;
    margin-right: 10px;
}
nav #logo-div-id h2{
    font-size: 38px;
}
nav #menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
nav #menu a{
    text-decoration: none;
    color: #000;
}
nav #menu a:hover{
    color: #FF42A5;
}
nav #menu .followus{
    background: #ccc;
    color: #000;
    padding: 8px 20px;
    border-radius: 5px;
}
nav #menu .followus:hover{
    background: #757373;
    color: #ffffff;
    cursor: pointer;
}
nav #menu .followus .fa-youtube{
    color: #ff0f0f;
    margin: 0 10px;
}
nav #menu .followus .fa-tiktok:hover{
    color: #ffffff;
}

/* banner section styles */

.banner{
    background: url("../images/bannerBG.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 55%;
}
.banner #inner-banner{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner #inner-banner #banner-content{
    width: 45%;
}
.banner #inner-banner #banner-content h2{
    text-transform: uppercase;
    font-size: 36px;
}
.banner #inner-banner #banner-content h1{
    text-transform: uppercase;
    font-size: 74px;
    margin: 6px 0 16px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner #inner-banner #banner-content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.banner #inner-banner #banner-content ul li i{
    margin-right: 8px;
}
.banner #inner-banner #banner-content .banner-btns button{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 12px 30px;
}
.banner #inner-banner #banner-content .banner-btns button:nth-child(2){
    background: #4EC5F7;
    margin-left: 10px;
}
.banner #inner-banner #banner-content .banner-btns button:hover{
    background: #ccc;
    color: #000;
}

.banner #inner-banner .banner-image{
    width: 50%;
}
.banner #inner-banner .banner-image img{
    width: 100%;
}

/* online games funny videos section styles */
.box-shadow{
    box-sizing: border-box;
    box-shadow: 1px 2px 10px gray;
    border-radius: 12px;
}
.online-games{
    max-width: 82%;
    margin: 120px auto;
}
.online-games h2{
    text-align: center;
    font-size: 38px;
}
.title-half-style{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games #online-games-description{
    text-align: center;
    margin: 22px 0 0;
}
.online-games #games-card{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.online-games #games-card #cart{
    width: 23%;
}
.online-games #games-card #cart img{
    width: 100%;
}
.online-games #games-card #cart p{
    font-size: 14px;
    margin-top:8px;
    margin-bottom: 25px;
    text-align: center;
}

/* watch now hover making  Extra */
#video-description{
    position: relative;
    overflow: hidden;
}
#video-description #hidden-division{
    position: absolute;
    top: 10000px;
    left: 0;
    background: #000000a6;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.1s;
}
#video-description:hover #hidden-division{
    top: 0;
}
#video-description #hidden-division #click-and-watch{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-51%,-51%);
    cursor: pointer;
}
#video-description #circle-play-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 16px;
  }
  
  #video-description #circle-play-button i {
    color: #000;
  }
  #video-description p {
    color: #F948B2;
    text-align: center;
  }

/* play instant game section styles */

.instant-game{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instant-game #instant-game-content{
    width: 45%;
}
.instant-game #instant-game-content h2{
    font-size: 36px;
    text-align: right;
    margin-bottom: 20px;
}
.instant-game #instant-game-content p{
    text-align: right;
    width: 70%;
    margin: 0 0 0 30%;
    line-height: 1.5rem;
}
.instant-game #instant-game-pic{
    width: 40%;
}
.instant-game #instant-game-pic .instant-main-pic{
    width: 100%;
}
#box-shadow-pic-insta{
    box-sizing: border-box;
    box-shadow: 1px 2px 10px gray;
    border-radius: 10px;
}
.instant-game #instant-game-pic .instant-secondery-pic{
    width: 40%;
    position: relative;
    top: -140px;
    left: -60px;

}

/* online games all tag section */
.tags{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px;
    background: #f5efef;
}
.tags #all-tags{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
.tags #all-tags li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: #000;
    font-size: 14px;
}
.tags #all-tags li{
    padding: 8px 10px;
    transition: 0.5s;
    background: #ffffff;
    border-radius: 50px;
}
.tags #all-tags li:hover{
    border: 1px solid #FF42A5;
}
.tags #all-tags li:hover a{
    color: #F948B2;
}
.tags #all-tags li a img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* footer section */
footer{
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #0B0223;
}
footer #footer-logo{
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}
footer #footer-logo img{
    width: 70px;
    height: 30px;
}
footer #footer-logo h2{
    color: #fff;
}
footer #site-tag{
    display: flex;
    gap: 30px;
    margin: 20px 0;
    list-style: none;
}
footer #site-tag li a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
footer #site-tag li a:hover{
    cursor: pointer;
    color: #F948B2;
}

footer #social-links ul{
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: center;
}
footer #social-links ul li a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
    font-size: 24px;
}
footer #social-links ul li a:hover{
    cursor: pointer;
    color: #F948B2;
}

footer #important-links ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px 0;
    list-style: none;
}
footer #important-links ul li a{
    text-decoration: none;
    color: #888383;
    transition: .5s;
}
footer #important-links ul li a:hover{
    cursor: pointer;
    color: #F948B2;
}
footer #copywrite p{
    text-align: center;
    color: #fff;
}